<div> 
    <a href="/api/sessions/github"> <button>Entrar con github</button></a>
</div>

<a href="/auth/github">
 <img alt="Iniciar sesión con GitHub" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="200">
</a>